* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*NAVBAR*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    position: relative;
    z-index: 2;
}

.navbar-actions {
    display: flex;
    gap: 1rem;
}

.cart-button,
.menu-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: #f5f5f5;
}

.app-logo a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0.05rem;

}

/* BODY */

body {
    background-color: #111111;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/*INDEX'S HERO*/

.hero {
    min-height: calc(100vh - 74px);
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.hero video {
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero-text {
    position: absolute;
    bottom: 20vh;
    left: 2rem;
    right: 2rem;
    letter-spacing: 0.1rem;
}

.hero-text h2 {
    font-size: 4rem;
    letter-spacing: 0.08rem;
    font-weight: 500;
}

/*INDEX HERO'S BUTTON */

.hero-cta {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem 2rem;
    border: none;
    background: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    color: #f5f5f5;
    transition: 0.3s;
}

.hero-cta:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.cta-text {
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
}

.cta-arrow {
    font-size: 1.2rem;
    font-weight: 300;
    opacity: 0.7;
    letter-spacing: 0.05rem;
}

/* CARDS INDEX */

.experience-card {
    height: 80vh;
    position: relative;
    overflow: hidden;

}

.experience-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 600ms ease;
}

.experience-card:hover img {
    transform: scale(1.05);
}

.experience-card:hover .experience-content {
    transform: translateY(-10px);
}

.experience-card:hover .experience-overlay {
    opacity: 0.8;
}

.experiences-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    padding: 4rem;
}

.experience-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.75),
            rgba(0, 0, 0, 0.1),
            transparent);
    transition: opacity 700ms ease;
}

.experience-content {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    padding: 4rem;
    gap: 1rem;
    transition: transform 700ms ease;
}

.experience-content h2 {
    font-size: 3rem;
    font-weight: 500;
}

@media (max-width: 900px) {
    .experiences-grid {
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 2rem;
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .experience-card {
        height: 60vh;
    }

    .experience-content h2 {
        font-size: 2.5rem;
    }


}